<div>
    <div class="form-login box">
        <h3 class="core-sprite brand-name-img"></h3>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" autofocus>
                </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <br>
            <div class="actions">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        <br>
        </form>    
    </div>
    <div class="redirect-links box">
        <a href="Sign Up">Sign Up</a>
        <br>
        <a href="Forgot your password?">Forgot your password?</a>
    </div>
</div>