<div class="container">
    <div class="row">
        <div class="col-lg-6 landing-left">
            <div class="dummy-phone">
                <div class="screen-shot">
                    <div class="carousel carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!-- <img class="kristan" src="../../../assets/images/screenshot1.jpg"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 landing-right text-center d-flex align-items-center">
            <!-- <app-login></app-login> -->
            <app-signup></app-signup>
        </div>
    </div>
</div>