<div class="row justify-content-md-center profile-wrapper">
    <div class="col-md-4 text-center">
        <img class="round-img" src="../../../assets/images/granger.jpg">
    </div>
    <div class="col-md-8">
        <div class="row">
            <p class="username">Granger</p>
            <button class="btn btn-outline-dark common-btn edit-profile-btn">Edit Profile</button>
        </div>
        <div class="row">
            <p class="email">granger@outlook.com</p>
        </div>
    </div>
</div>>